#front{
padding-top: 440px;
padding-left: 130px;
}
#navbar-custom {
    color: transparent; 
    
}
.navbar {
  background: none;
  border: 0;
  text-transform: uppercase; }
  .navbar .container, .navbar .display .fluid-container, .display .navbar .fluid-container {
    width: 90%;
    margin: 0 auto;
    padding: 0 50px; }
  .navbar .brand, .navbar a {
    padding: 25px 27px !important;
    color: #2b2b2b;
    font-size: 18px;
    font-family: "Varela", sans-serif;
    font-weight: 400; }
    .navbar .brand:hover, .navbar a:hover {
      color: #1d1d1d; }