/* styles/Home.module.css */
html,
body {
  	height: 100%;
  	font-family:Nova Round;
  	font-style: normal;
	font-weight: normal;
	font-size: 1.1em;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family:Nova Round;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .link {
    text-decoration: none;
    margin: 0 1rem;
    color: #3498db; /* Adjust as per your design */
  }
  
  .link:hover {
    color: #1d6fa5; /* Adjust hover color */
  }
  