.img-header{
	width: 20%;
}
.light{
	color:#FAFAFA;
}
.blue-highlight{
	color: #A2D5F2;
	font-weight: 850;

}
.header{
	font-weight: 350;
}
.red-highlight{
	color:#DC2F2F;
	font-weight:850;
}
.orange-highlight{
	color: #FF7E67;
	font-weight: 850;

}
.small{
	font-size: 140%;
	color: #000249;
}
.spacer{
	margin-top: 50px;
}
.home {
    height: 100vh;
    background-color: #07689F;
}
html {
	
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
